* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

body {
    width: 100%;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    color: #1d4d4f;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

section {
    margin-top: 3rem;
}

header {
    margin-top: 10rem
}

.navbar-brand {
    font-family: 'Cinzel', serif;
    font-size: 1rem;
    font-weight: 600;
}

.navbar {
    background-color: #6ba8a9;
}

.nav-item {
    font-size: 2rem;
    margin-right: 3rem;
}

.nav-item a {
    color: #1d4d4f;
    font-weight: 800;
}

#intro ul {
    margin-bottom: 0;
    margin-top: 8rem;
    padding: 5% 10%;
    background-color: #e5dfdf;
}

#intro p {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
    padding: 0.5rem;
}

#chi-siamo ul {
    padding: 1rem 2rem;
}

#chi-siamo li {
    margin-top: 3rem;
}

#chi-siamo li ul li {
    margin-top: 0.5rem;
}

#chi-siamo p {
    font-size: 1.2rem;
}

.titulo-principal {
    font-size: 3rem;
    font-family: 'Cinzel', serif;
    margin: 2rem 0rem 0rem 0;
}

.titulo-secundario {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.titulo-seccion {
    font-size: 2.5rem;
    color: #357376;
}

.texto-normal {
    font-size: 1.2rem;
}

li {
    list-style-type: none;
}

.logo {
    width: 4rem;
}

.card {
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem;
    padding: 3rem 2rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1);
    -moz-transform: scale(1);
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.card:hover {
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.servizi-esteso {
    padding: 6rem;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
}

.servizi-esteso .card-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ff7315;
    margin-bottom: 5rem;
}

.servizi-esteso ul {
    padding-left: 8rem;
    padding-right: 8rem;
}

.card-img-top {
    width: 20%;
    height: auto;
}

.autor {
    color: grey;
    padding-bottom: 0.5rem;
    margin: 0.5em;
    border-bottom: 1px solid lightgray;
    font-size: 1.6rem;
}

.btn {
    font-size: 2rem;
    background-color: #ff7315;
    color: white;
    padding: 1rem 2rem;
    margin: 0rem 8rem;
}

@media (min-width:768px) {
    .navbar-brand {
        font-size: 1.5em;
    }
    .titulo-principal {
        font-size: 5rem;
        letter-spacing: 0.7rem;
    }
    .titulo-secundario {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
    }
    #intro p, #chi-siamo p {
        font-size: 1.7rem;
    }
}

@media (min-width:1024px) {
    section {
        margin-top: 8rem;
    }
    .titulo-seccion {
        font-size: 4.4rem;
    }
    .titulo-principal {
        font-size: 5rem;
    }
    .titulo-secundario {
        font-size: 1.8rem;
    }
    .logo {
        width: 7rem;
    }
}

@media (min-width:1440px) {
    .titulo-principal {
        font-size: 6rem;
    }
    .titulo-secundario {
        font-size: 2rem;
    }
    .logo {
        width: 11rem;
    }
    #intro {
        margin-top: 14rem;
    }
    #intro p, #chi-siamo p {
        font-size: 1.9rem;
    }
}