* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    width: 100%;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-brand{
    font-size: 1.3rem;
    font-weight: 600;
    font-family:  'Play fair',serif;
}

.caja-derecha{
    background-image: url("../imgs/16365-crop.png");
    background-color: rgba(0, 0, 0, 0.2);
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

}

.caja-derecha p{
    font-size: 1rem;
    font-weight: 600;  
    margin-top: 10%; 
    color: black;
    padding: 0.5rem;
}

.caja-izquierda {
    /* background-color:#f5f589; */
    background-color: cornflowerblue;;
}
 
.titulo-principal {
    font-size: 3rem;
    font-family: 'Play fair',serif;
}

.titulo-secundario {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

li {
    list-style-type: none;
}

.foto {
    min-width: 80px;
    max-height: 65px;
    border-radius: 50%;
    width: 20px;
}

.card {
    margin: 0.6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1);
    -moz-transform: scale(1);
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.card:hover {
    transform: scale(1.02);
    -moz-transform: scale(1.02);
    transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.autor {
    color: grey;
    padding-bottom: 0.5rem;
    margin: 0.5em;
    border-bottom: 1px solid lightgray;
    font-size: 1rem;
}

.nombre-small {
    font-size: 1rem;
}

.nombre-big {
    font-size: 1.2rem;
    padding: 1rem;
}


@media (min-width:768px) {
.titulo-principal{
    font-size: 4.5rem;
}
.titulo-secundario {
   font-size: 1.3rem;
   letter-spacing: 0.3rem;
}
.caja-derecha p{
    font-size: 1.4rem;
    padding: 2rem;
    margin-top: 20%;
}
}